*{
    margin:0;
    padding:0;
}
body {
    font-size: 25px;
    /* background: linear-gradient(to top, rgb(10, 10, 10)40%, rgb(77, 66, 66)60%); */
    background-image: url('../src/img/fondo1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}
.App{
    display: flex;
    justify-content: center;
    margin-top: 45px;
}
