.container-plates{
    margin-left: 14px;
    display: grid;
    gap: 1%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 100%; */
    width: 40%;
    justify-items: start;
    align-items: start;
    /* overflow: scroll; */
}

.show_menues{
  margin-top: 1%;
  width: 50%;
  margin-left: 28px;
}

.container_products{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btn_plates{
  border-radius: 10%;
  background-image: linear-gradient(to right,  #ff7d00 0%, #E44D26  100%);
  border: 5px solid;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-color: #ffecd1;
  height: 28vmin;
  width: 25vmin;
  margin-right:-15px;
}

.img_product{
  width:90%;
  border-radius: 5% 5% 0 0;
  height: 60%;
}

.btn_add{
  color: #70e000;
  background-color: transparent;
  border: none;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top:-5px;
}

@media screen and (max-width: 1024px) {
  .container-plates{
    /* margin-left: -85%; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
/* .show_menues{
    width: 40%;
    /* margin-left: 140%; */

.btn_plates {
    height: 20vmin;
    width: 18vmin;
}


.btns_deleted_and_send_order{
  margin: -11% 0 0 68%;
}
}