.div_table_foot{
    color: #001524;
    /* display: flex; */
    border-top: 2px solid #78290f;
    justify-content: right;
    background-color:#ffecd1;
    /* margin-top: -10%; */
    margin-left: 58%;
    width: 37vw;
    height: 7vh;
    border-radius: 0 0 10px 10px;
  }

.inp_total{
    border-radius: 0 0 10px 0;
    border: none;
    font-size: 20px;
    margin-left: 154%;
    margin-top: -56%;
}
  
.div_title_total{
    margin-right: 30%;
}

.h5_total{
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .div_table_foot{
        margin-left: 62%;
        margin-top: 0%;
        width: 37vw;
        height: 7vh;
        border-radius: 0 0 10px 10px;
      }
}