#divNameCustomer{
    margin: 5px 10px 20px 67px;
    width: 50%;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: baseline;
}

.titleCustomer{
    color:#fff;
}

#inputCustomer, #inputTable{
    height: 34px;
    margin-left: -74px;
}

#inputTable{
    width: 100px;
}

@media screen and (max-width: 1024px) {
    #inputCustomer, #inputTable{
        margin-left: -44px;
    }

    #inputCustomer{
        width: 150px;
    }
    
    #inputTable{
        width: 50px;
    }
}