.containerPlates{
    margin: -11px 64px;
    display: grid;
    gap: 3%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 100%; */
    width: 40%;
    /* overflow: scroll; */
}

.showMenues{
  margin-top: 1%;
  width: 50%;
  margin-left: 28px;
}

.containerProducts{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btnPlates{
  border-radius: 10%;
  background-image: linear-gradient(to right,  #ff7d00 0%, #E44D26  100%);
  border: 5px solid;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border-color: #ffecd1;
  height: 29vmin;
  width: 24vmin;
  margin-right:-15px;
}

.imgProduct{
  object-fit: cover;
  object-position: center center;
  border-radius: 5% 5% 0 0;
  height: 75%;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .containerPlates{
    margin-left: 1%;
    width: 10%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .btnPlates {
    height: 30vmin;
    width: 22vmin;
  }

}