.div_select_item_by_customer{
    display: flex;
    flex-direction: column;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#ffecd1;
    margin-top: -30%;
    margin-left: 58%;
    height: 60vh;
    width: 37vw;
    overflow: auto;
    color: #001524; 
    border-bottom: #78290f solid;
}
  
#table_select_item{
    font-size: 20px;
    width: 100%;
}
  
.th_item{
    width: 15vw;
    text-align: center;
}

#tr_header_table{
    border-bottom: #001524 solid;
}
.btns_deleted_and_send_order{
    margin: 5% 0 0 60%;
  }
  
#btn_trash, #btn_send{
    color: #fffc;
    margin-right: 24px;
    background-color: #ff7d00;
    border-color: #fff12a;
    font-size: 20px;
    box-shadow: 5px 5px 4px #eee;
    margin: -105px auto 0 75px;
  }
  
  .div_table_foot{
    color: #001524;
    /* display: flex; */
    border-top: 2px solid #78290f;
    justify-content: right;
    background-color:#ffecd1;
    /* margin-top: -10%; */
    margin-left: 58%;
    width: 37vw;
    height: 7vh;
    border-radius: 0 0 10px 10px;
  }

.inp_total{
    border-radius: 0 0 10px 0;
    border: none;
    font-size: 20px;
    margin-left: 74%;
    margin-top: -7%;
    font-weight: bold;
}
  
.div_title_total{
    margin-right: 30%;
}

.h5_total{
    text-align: center;
}

/*Botones de +-*/
.div_add_subs{
    display: flex;
    align-items: center;
    background-color: #ffecd1;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    font-size: 1.6vw;
    justify-content: space-around;
    margin-top: 13%;
    margin-bottom: 14%;
    margin-left: 7px;
    width: 100%;
    height: 15%;
  
  }
  
  .span_quantity{
    color: #000c
  }
  
  .btn_add{
    color: #70e000;
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
  
  .btn_subs{
    color: #e5383b;
    background-color: transparent;
    border: none;
    font-size: 30px;
  }
  
  .btn_all_elements{
    color: #15616d;
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin-left: 10px;
  }

@media screen and (max-width: 1024px) {
    .div_select_item_by_customer{
        margin-top: -47%;
        margin-left: 62%;
    }
    #btn_trash, #btn_send{
        margin: -75px auto 0 75px;
    }

    .div_table_foot{
        margin-left: 62%;
        margin-top: 0%;
        width: 37vw;
        height: 7vh;
        border-radius: 0 0 10px 10px;
      }

}