.containerWelcome{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
  width: 100%;
}

.imageBurger{
  height: 38vh;
  width: 15vw;
  -webkit-animation:tracking-in-expand 3s ease-in both;
  animation:tracking-in-expand 3s ease-in both;
}

.imageTitle{
  font-family: 'Work Sans', sans-serif;
  color: #ffff;
  width: 20vw;
  height: 20vh;
  -webkit-animation:tracking-in-expand 2s ease-in both;
  animation:tracking-in-expand 2s ease-in both
}

.loader{
  position: relative;
  -webkit-animation:tracking-in-expand 5s ease-in both;
  animation:tracking-in-expand 8s ease-in both;
  animation: fade-out 10s;
  margin-left: 355px;
  margin-top:-9%;
  width: 100%;
  height: 100vh;
}

@keyframes tracking-in-expand {
  0%{letter-spacing:-.5em;opacity:0}40%{opacity:.6}100%{opacity:1}}

  .loader div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .loader div:nth-child(1) {
    left: 8px;
    animation: loader1 0.6s infinite;
  }

  .loader div:nth-child(2) {
    left: 8px;
    animation: loader2 0.6s infinite;
  }

  .loader div:nth-child(3) {
    left: 32px;
    animation: loader2 0.6s infinite;
  }

  .loader div:nth-child(4) {
    left: 56px;
    animation: loader3 0.6s infinite;
  }

  @keyframes loader1 {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
  }

  @keyframes loader3 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
  }

  @keyframes loader2 {
    0% {transform: translate(0, 0);}
    100% {transform: translate(24px, 0);}
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@media (min-width: 768px){
  .loader{
    margin-left: 134px;
    margin-top:-14%;
  }
}