.show_menues{
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.h1_title, .h2_customer{
  color:#fff;
}

.btn_cafe{
  width:200px;
  height:200px;
}
.div_buttons{
  margin-top:10px;
}
.div_buttons, .div_info_customer{
  background-color: aqua;
}
.img_product{
  width:122px;
}