#div_btn_logout {
    display:flex;
    /* width: 14vw; */
    height: 11vh;
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
    margin-top: 0;
    margin-left: 81%;
}

.icon-off{
    margin-right: 4px;
}

@media screen and (max-width: 1024px) {
    #div_btn_logout {
        margin-left: 83%;
    }

}