.btn-options{
  display: flex;
  flex-direction: row;
}
  
.btn-food {
  background-image: linear-gradient(to right,  #ff7d00 0%, #E44D26  100%);
  margin: 40px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  color: rgb(39, 2, 2);            
  border-radius: 15px;
  border-color: #ffecd1;
  font-weight: bold;
  font-size: 20px;
  border-width: 7px;
  padding: 0;
}
    
.p-food {
  font-size: 30px;
  color:#fff;
}
.img-btn{
  height:50vh;
  width: 60vh;
}