
.container-options {
    display: flex;
    margin: 50%;
}

.btn-options {
    display: flex;
    flex-direction: column;
  }

  .btn-food {
    background-color: #f03636;
    border: #fff 2px solid;
    width: 50vh;
    margin: 50 px;
    border-radius: 10px;
  }
