.container-launch{
    /*margin-left: 5%;*/
    display: grid;
    gap: 1%;
    grid-template-columns: 1fr;
    grid-template-rows: 1vh 1fr;
    height: 100%;
    width: 100%;
}

.show_menues1{
    display: flex;
    float: left;
    /* padding: 8px; */
    flex-direction: row;
    margin-top: -155px;
    width: 50%;
    flex-wrap: wrap;
    margin-left: 12.3%;
  }
  
  .container_products1{
    margin-right: 20px;
  }
  
  .h4_customer1{
    color:#fff;
  }
  
  #div_name_customer1{
    margin-top: 75px;
    width: 250px;
    height: 140px;
    margin-left: 805px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    align-items: baseline;
  }
  
  #input_customer1, #input_table1{
    margin-top: -14px;
    height: 34px;
    width: 150px;
  }
  
  .btn_launch{
    border-radius: 10%;
    margin-bottom: 40px;
    background-image: linear-gradient(to right,  #ff7d00 0%, #E44D26  100%);
    border: 5px solid;
    font-weight: bold;     
    color: #fff;    
    border-radius: 15px;
    border-color: #ffecd1;
  }
  
  .img_product1{
    width:222px;
    border-radius: 5% 5% 0 0;
  }
  
  .div_add_subs1{
    align-items: center;
    background-color: #ffecd1;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 1.6vw;
    justify-content: space-between;
    margin-top: -13%;
    margin-bottom: 14%;
    margin-left: 28%;
    width: 50%;
    height: 15%;
  }
  
  .btn_add1{
    color: #70e000;
    background-color: transparent;
    border: none;
    font-size: 35px;
  }
  
  .span_quantity1{
    color: #000c
  }
  
  .btn_subs1{
    color: #e5383b;
    background-color: transparent;
    border: none;
    font-size: 35px;
  }
  
  #div_btn_logout1{
   display:flex;
   width: 14vw;
   height: 11vh;
   padding: 20px;
   /* justify-content: center;
   align-items: center; */
   margin-top: 0;
   margin-left: 73.9%;
  }
  
  .icon-off1{
    margin-right: 4px;
  }
  
  .div_select_item_by_customer1{
    display: flex;
    flex-direction: row;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#ffecd1;
    margin-top: -103%;
    margin-left: 50%;
    height: 67vh;
    width: 37vw;
    overflow: auto;
    color: #001524;
  }
  
  #table_select_item1{
    width: 100%;
    border-bottom: #78290f solid;
  }
  
  .th_item1{
    width: 15vw;
    text-align: center;
  }
  
  #btn_logout1{
    width: 147px;
    height: 50px;
  }
  
  .div_table_foot1{
    color: #001524;
    display: flex;
    border-top: 2px solid #78290f;
    justify-content: right;
    background-color:#ffecd1;
    margin-left: 50%;
    margin-top: -75%;
    width: 37vw;
    height: 7vh;
    border-radius: 0 0 10px 10px;
  }
  
  .inp_total1{
    border-radius: 0 0 10px 0;
    border: none;
    font-size: 20px;
    margin-left: 154%;
    margin-top: -56%;
  }
  
  .div_title_total1{
    margin-right: 30%;
  }